<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/order_status.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class="status-content">
            <h4>ORDER STATUS</h4>

            <div class="container-sm">
                <form th:action="@{/order-status}" method="POST" id="statusForm">
                    <div class="status-form">
                        <label for="orderNumber" class="form-label">Order Number: </label>
                        <div class="">
                            <input type="number" class="form-control" id="orderNumber">
                            <div id="orderFeedback"></div>
                        </div>
                    </div>

                    <div class="status-button">
                        <button type=submit class="button" id="checkStatus">Check Status</button>
                    </div>
                </form>
            </div>

            <div th:if="${orderNotFound}">
                <p class="not-found">Unfortunately we couldn't locate your order.</p>
                <p class="not-found">Please verify your order number and try resubmitting</p>
            </div>

            <div th:if="${order != null}">
                <div class="status-div">
                    <p class="status-title-p">Order: 178913<span th:text="${order.id}"></span></p>
                    <p class="status-title-p"><span id="order-type" hidden th:text="${order.orderType.name()}"></span><span th:text="${order.orderType.name() == 'DELIVERY' ? 'Delivery' : 'Pick Up'}"
                    ></span> status
                    </p>

                    <!--            for delivery-->
                    <div th:if="${order.orderType.name() == 'DELIVERY'}">
                        <div class="progressbar">
                            <div class="progress-step progress-step-active" data-title="Order Received"></div>
                            <div class="progress-step" data-title="Being Prepared"></div>
                            <div class="progress-step" data-title="Out for Delivery"></div>
                            <div class="progress-step" data-title="Delivered"></div>
                            <div class="progress-step" data-title="Order Completed"></div>
                            <div class="progress" id="progress-delivery"></div>
                        </div>
                        <p class="delivery-step" id="delivery1"
                           th:text="${(order.orderStatus.name() == 'BEING_PREPARED') ? 'yes' : 'no'}"></p>
                        <p class="delivery-step" id="delivery2"
                           th:text="${order.orderStatus.name() == 'OUT_FOR_DELIVERY' ? 'yes' : 'no'}"></p>
                        <p class="delivery-step" id="delivery3"
                           th:text="${order.orderStatus.name() == 'DELIVERED' ? 'yes' : 'no'}"></p>
                        <p class="delivery-step" id="delivery4"
                           th:text="${order.orderStatus.name() == 'COMPLETE' ? 'yes' : 'no'}"></p>
                    </div>


                    <!--            for pick up-->
                    <div th:if="${order.orderType.name() == 'PICKUP'}">

                        <div class="progressbar">
                            <div class="progress-step progress-step-active" data-title="Order Received"></div>
                            <div class="progress-step" data-title="Being Prepared"></div>
                            <div class="progress-step" data-title="Ready for Pick-Up"></div>
                            <div class="progress-step" data-title="Order Completed"></div>
                            <div class="progress" id="progress-pickup"></div>
                        </div>

                        <p class="pickup-step" id="pickup1"
                           th:text="${(order.orderStatus.name() == 'BEING_PREPARED') ? 'yes' : 'no'}"></p>
                        <p class="pickup-step" id="pickup2"
                           th:text="${order.orderStatus.name() == 'PICKUP_READY' ? 'yes' : 'no'}"></p>
                        <p class="pickup-step" id="pickup3"
                           th:text="${order.orderStatus.name() == 'COMPLETE' ? 'yes' : 'no'}"></p>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>
<script src="/js/order_status.js"></script>
</body>
</html>