<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/order_summary.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class="cart-container">


            <div th:if="${!order.getOrderedItems().isEmpty()}">
                <div class="row">
                    <div class="col">
                        <p class="bag-title d-flex align-items-center justify-content-center"></p>
                        <div th:each="item : ${order.getOrderedItems()}">
                            <div class="bag-item d-flex align-items-center justify-content-center">
                                <img class="bag-item-image" th:src="${item.getMenuItem().getPhoto()}">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p class="bag-title-name d-flex align-items-center">Name</p>
                        <div th:each="item : ${order.getOrderedItems()}">
                            <div class="bag-item-name d-flex align-items-center">
                                <div>
                                    <span class="text-nowrap" th:text="${item.menuItem.item_name}"></span><br>
                                    <span class="options text-nowrap" th:text="${item.meatOptionList}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <p class="bag-title text-nowrap d-flex align-items-center justify-content-center">Unit Price</p>
                        <div th:each="item : ${order.getOrderedItems()}">
                            <div class="bag-item d-flex align-items-center justify-content-center">$<span
                                    th:text="${item.menuItem.getPriceString()}"></span></div>
                        </div>

                    </div>
                    <div class="col">
                        <p class="bag-title d-flex align-items-center justify-content-center">Quantity</p>
                        <div th:each="item, itemIndex : ${order.getOrderedItems()}">
                            <div class="bag-item d-flex align-items-center justify-content-center">
                                <p class="quantity" th:text="${item.quantity}"></p>
                            </div>
                        </div>

                    </div>
                    <div class="col">
                        <p class="bag-title d-flex align-items-center justify-content-center">Total</p>
                        <div th:each="item : ${order.getOrderedItems()}">
                            <div class="bag-item d-flex align-items-center justify-content-center">$<span th:text="${item.getItemTotalString()}"></span>
                            </div>
                        </div>

                    </div>
                </div>

<div class="order-summary-costs">
                <div class="bag-total-div">
                    <p class="total-title">Order Type: </p>
                    <p class="total-price"><span th:text="${order.getOrderType()}"></span></p>
                </div>
                <div class="bag-total-div">
                    <p class="total-title">Price paid after taxes and discounts: </p>
                    <p class="total-price">$<span th:text="${order.getOrderTotalString()}"></span></p>
                </div>
                    <div class="bag-total-div">
                    <p class="total-title">Order placed on: </p>
                    <p class="total-price"><span th:text="${order.getPlacedAt()}"></span></p>
                    </div>
</div>


                <div class="checkout-button">
                    <a class="checkoutButton" href="/profile">Return to Profile</a>
                </div>

            </div>
        </div>

    </div>
    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>

<!--<script src="/js/viewBag.js"></script>-->

</body>
</html>