<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/order_status.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class="status-content">
            <h4>ORDER STATUS</h4>

            <div class="container-sm">
                <form th:action="@{/order-status}" method="POST" id="statusForm">
                    <div class="status-form">
                        <label for="orderNumber" class="form-label">Order Number: </label>
                        <div class="">
                            <input type="number" class="form-control" id="orderNumber">
                            <div id="orderFeedback"></div>
                        </div>
                    </div>

                    <div class="status-button">
                        <button type=submit class="button" id="checkStatus">Check Status</button>
                    </div>
                </form>
            </div>

            <div th:if="${orderNotFound}">
                <p class="not-found">Apologies, but we couldn't locate your order.</p>
                <p class="not-found">Please verify your order number and try resubmitting</p>
            </div>

            <div th:if="${order != null}">

                <!--            for delivery-->
                <div th:if="${order.orderType.name() == 'DELIVERY'}">
                    <div class="progressbar">
                        <div class="progress-step progress-step-active" data-title="Order Received"></div>
                        <div class="progress-step" data-title="Being Prepared"></div>
                        <div class="progress-step" data-title="Out for Delivery"></div>
                        <div class="progress-step" data-title="Delivered"></div>
                        <div class="progress-step" data-title="Order Completed"></div>
                        <div class="progress" id="progress-delivery"></div>
                    </div>
                    <p>order is being prepared - <span
                            th:text="${(order.orderStatus.name() == 'BEING_PREPARED') ? 'yes' : 'no'}"> </span></p>
                    <p>order is out for delivery - <span
                            th:text="${order.orderStatus.name() == 'OUT_FOR_DELIVERY' ? 'yes' : 'no'}"> </span></p>
                    <p>order is delivered - <span
                            th:text="${order.orderStatus.name() == 'DELIVERED' ? 'yes' : 'no'}"> </span></p>
                    <p>order is complete - <span
                            th:text="${order.orderStatus.name() == 'COMPLETE' ? 'yes' : 'no'}"> </span></p>
                </div>


                <!--            for pick up-->
                <div th:if="${order.orderType.name() == 'PICKUP'}">
                    <div class="progressbar">
                        <div class="progress-step progress-step-active" data-title="Order Received"></div>
                        <div class="progress-step" data-title="Being Prepared"></div>
                        <div class="progress-step" data-title="Ready for Pick-Up"></div>
                        <div class="progress-step" data-title="Order Completed"></div>
                        <div class="progress" id="progress-pickup"></div>
                    </div>
                    <p>order is being prepared - <span
                            th:text="${(order.orderStatus.name() == 'BEING_PREPARED') ? 'yes' : 'no'}"> </span></p>
                    <p>order is ready for pick up - <span
                            th:text="${order.orderStatus.name() == 'PICKUP_READY' ? 'yes' : 'no'}"> </span></p>
                    <p>order is complete - <span
                            th:text="${order.orderStatus.name() == 'COMPLETE' ? 'yes' : 'no'}"> </span></p>
                </div>
            </div>

        </div>

    </div>
    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>
<script>

    let statusForm = document.getElementById("statusForm");
    let submitBtn = document.getElementById("checkStatus");
    let orderNumberInput = document.getElementById("orderNumber");
    let orderFeedback = document.getElementById("orderFeedback");
    const orderNumberRegex = /^[0-9]{1,20}$/;

    submitBtn.addEventListener("click", function (event) {
        event.preventDefault();
        let validOrder = checkOrderNumber();
        console.log(validOrder)

        if (validOrder === true) {
            statusForm.action = "/order-status?orderId=" + orderNumberInput.value;
            statusForm.submit();
        }
    });

    function checkOrderNumber() {
        let validInput = false;
        if (orderNumberInput.value.trim() === "") {
            orderNumberInput.classList.remove("is-valid")
            orderFeedback.classList.remove("valid-feedback")
            orderNumberInput.classList.add("is-invalid")
            orderFeedback.classList.add("invalid-feedback")
            orderFeedback.innerText = "No order number entered.";
        } else if (!orderNumberRegex.test(orderNumberInput.value)) {
            orderNumberInput.classList.remove("is-valid")
            orderFeedback.classList.remove("valid-feedback")
            orderNumberInput.classList.add("is-invalid")
            orderFeedback.classList.add("invalid-feedback")
            orderFeedback.innerText = "Please enter a valid order number";
        } else {
            orderNumberInput.classList.remove("is-invalid")
            orderFeedback.classList.remove("invalid-feedback")
            orderNumberInput.classList.add("is-valid")
            orderFeedback.classList.add("valid-feedback")
            orderFeedback.innerText = "";
            validInput = true;
        }
        return validInput;
    }

</script>
</body>
</html>