<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form id="payment-form">
    <div id="payment-element">
        <!-- Elements will create form elements here -->
    </div>
    <button id="submit">Pay now</button>
    <div id="error-message">
        <!-- Display error message to your customers here -->
    </div>
</form>
<script src="/js/apiKeys.js"></script> <!--put in footer later -->
<script src="https://js.stripe.com/v3/"></script>
<script>

    document.addEventListener("DOMContentLoaded", async function() {

        let stripe = Stripe(stripeKey, {
            apiVersion: '2020-08-27',
        });

        // On page load, we create a PaymentIntent on the server so that we have its clientSecret to
        // initialize the instance of Elements below. The PaymentIntent settings configure which payment
        // method types to display in the PaymentElement.
        const {
            error: backendError,
            clientSecret
        } = await fetch('/stripe-token').then(r => r.json());
        if (backendError) {
            console.log(backendError.message);
        }
        console.log(`Client secret returned.`);

        // Initialize Stripe Elements with the PaymentIntent's clientSecret,
        // then mount the payment element.
        // const clientSecret = "TEST";
        const elements = stripe.elements({ clientSecret });
        const paymentElement = elements.create('payment');
        paymentElement.mount('#payment-element');
    } );
</script>
</body>
</html>