<!DOCTYPE html>
<html>
<head>
    <title>Radius Validation</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet'/>
    <style>
        #map {
            /* the width and height may be set to any size */
            width: 100%;
            height: 700px;
        }
    </style>
    <script src="../../static/js/apiKeys.js"></script>
</head>
<body>
<input type="text" id="address" name="address"><br><br>
<button type="submit" id="submit" value="Submit"> button</button>


<div id="map"></div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFkYWxlaW5lZGVmZmluYmF1Z2giLCJhIjoiY2xnem01M3o1MDEyODNlb2liMGd1bmJ5cSJ9.hDk5lSq6smYuvCgd3orXmQ'; // Replace with your Mapbox access token
    var map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v11', // style URL
        zoom: 10, // starting zoom
        center: [-112.18853950371074, 33.480222919384744] // [lng, lat]

    })

    var marker = new mapboxgl.Marker()
        .setLngLat([-112.18853950371074, 33.480222919384744])
        .addTo(map);

    const button = document.getElementById('submit');
    button.addEventListener('click', async function () {
        let inputValue = document.getElementById('address').value
        console.log(inputValue)

        try{

        let data = await geocode(inputValue, MAP_BOX_KEY);
        console.log(data);

        //getting the lat and lon from the user input
        let lat1 = data[0];
        let lon1 = data[1];

        //this is the lat and long of the restaurant
        let lat2 = 33.480222919384744;
        let lon2= -112.18853950371074;

        let distance = getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2);

        console.log('Distance:', distance);
    } catch (error) {
        console.error('Error:', error);
    }

    });

    function geocode(address, token) {
        var baseUrl = 'https://api.mapbox.com';
        var endPoint = '/geocoding/v5/mapbox.places/';

        return fetch(baseUrl + endPoint + encodeURIComponent(address) + '.json' + "?" + 'access_token=' + token)
            .then(function (res) {

                return res.json();
                // to get all the data from the request, comment out the following three lines...
            })
            .then(function (data) {
            //     console.log(data);

                return new Promise((resolve, reject) => {
                        resolve(data.features[0].center);
                    if (data.features.length > 0) {
                        resolve(data.features[0].center);
                    } else {
                        reject(new Error('Location not found'));
                    }
                });
             });
    }

    // function reverseGeocode(coordinates, token) {
    //     var baseUrl = 'https://api.mapbox.com';
    //     var endPoint = '/geocoding/v5/mapbox.places/';
    //     return fetch(baseUrl + endPoint + coordinates.lng + "," + coordinates.lat + '.json' + "?" + 'access_token=' + token)
    //         .then(function(res) {
    //             return res.json();
    //         })
    //         // to get all the data from the request, comment out the following three lines...
    //         .then(function(data) {
    //             return data.features[0].place_name;
    //         });
    // }}


    function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
        var R = 6371; // Radius of the earth in km
        var dLat = deg2rad(lat2 - lat1);  // deg2rad below
        var dLon = deg2rad(lon2 - lon1);
        var a =
            Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2)
        ;
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c; // Distance in km
        return d;
    }

    function deg2rad(deg) {
        return deg * (Math.PI / 180)
    }


    //
    // function drawCircleFromLatLng(lat, lng, radiusInMiles) {
    //     const location = [lng, lat]; // Swap lat and lng to match Mapbox format
    //
    //     const map = new mapboxgl.Map({
    //         container: "map",
    //         style: "mapbox://styles/mapbox/streets-v11",
    //         center: location,
    //         zoom: 12
    //     });
    //
    //     const circle = new mapboxgl.CircleLayer({
    //         id: "circle",
    //         source: {
    //             type: "geojson",
    //             data: {
    //                 type: "Feature",
    //                 geometry: {
    //                     type: "Point",
    //                     coordinates: location
    //                 }
    //             }
    //         },
    //         paint: {
    //             "circle-radius": {
    //                 base: 1.75,
    //                 stops: [[12, radiusInMiles * 1609.34], [22, radiusInMiles * 1609.34]]
    //             },
    //             "circle-color": "#FF0000",
    //             "circle-opacity": 0.35
    //         }
    //     });
    //
    //     map.addLayer(circle);
    // }
    //
    // // Call the function with the desired latitude, longitude, and radius in miles
    // const latitude = 33.480222919384744;
    // const longitude = -112.18853950371074;
    // const radiusInMiles = 10;
    // drawCircleFromLatLng(latitude, longitude, radiusInMiles);
    //


    // function initMap() {
    //     const address = "6011 W. Thomas Rd, Phoenix AZ 85033";
    //     const radiusInMiles = 10;
    //
    //     const geocoder = new MapboxGeocoder({
    //         accessToken: mapboxgl.accessToken,
    //         marker: false
    //     });
    //
    //     geocoder.query(address, (err, data) => {
    //         if (err || !data.features || data.features.length === 0) {
    //             alert("Geocode was not successful.");
    //             return;
    //         }
    //
    //         const location = data.features[0].geometry.coordinates;
    //
    //         const map = new mapboxgl.Map({
    //             container: "map",
    //             style: "mapbox://styles/mapbox/streets-v11",
    //             center: location,
    //             zoom: 12
    //         });
    //
    //         const circle = new mapboxgl.CircleLayer({
    //             id: "circle",
    //             source: {
    //                 type: "geojson",
    //                 data: {
    //                     type: "Feature",
    //                     geometry: {
    //                         type: "Point",
    //                         coordinates: location
    //                     }
    //                 }
    //             },
    //             paint: {
    //                 "circle-radius": {
    //                     base: 1.75,
    //                     stops: [[12, radiusInMiles * 1609.34], [22, radiusInMiles * 1609.34]]
    //                 },
    //                 "circle-color": "#FF0000",
    //                 "circle-opacity": 0.35
    //             }function initMap() {
    //     const address = "6011 W. Thomas Rd, Phoenix AZ 85033";
    //     const radiusInMiles = 10;
    //
    //     const geocoder = new MapboxGeocoder({
    //         accessToken: mapboxgl.accessToken,
    //         marker: false
    //     });
    //
    //     geocoder.query(address, (err, data) => {
    //         if (err || !data.features || data.features.length === 0) {
    //             alert("Geocode was not successful.");
    //             return;
    //         }
    //
    //         const location = data.features[0].geometry.coordinates;
    //
    //         const map = new mapboxgl.Map({
    //             container: "map",
    //             style: "mapbox://styles/mapbox/streets-v11",
    //             center: location,
    //             zoom: 12
    //         });
    //
    //         const circle = new mapboxgl.CircleLayer({
    //             id: "circle",
    //             source: {
    //                 type: "geojson",
    //                 data: {
    //                     type: "Feature",
    //                     geometry: {
    //                         type: "Point",
    //                         coordinates: location
    //                     }
    //                 }
    //             },
    //             paint: {
    //                 "circle-radius": {
    //                     base: 1.75,
    //                     stops: [[12, radiusInMiles * 1609.34], [22, radiusInMiles * 1609.34]]
    //                 },
    //                 "circle-color": "#FF0000",
    //                 "circle-opacity": 0.35
    //             }
    //         });
    //
    //         map.addLayer(circle);
    //     });
    //         });
    //
    //         map.addLayer(circle);
    //     });

</script>
</body>
</html>
