<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1,h3 {
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Appetizers</h1>
<h3>Chips</h3>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='APPETIZERS' && item.subCategory.name() == 'CHIPS'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>
<h3>Other</h3>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='APPETIZERS' && item.subCategory.name() == 'OTHER'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>

<h1>Entrees</h1>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='ENTREES'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>

<h1>Sides</h1>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='SIDES'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>

<h1>Salsas</h1>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='SALSAS'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>

<h1>Beverages</h1>
<h3>Sodas</h3>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='BEVERAGES' && item.subCategory.name() == 'SODAS'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>
<h3>Agua Frescas</h3>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='BEVERAGES' && item.subCategory.name() == 'AGUAFRESCAS'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>
<h3>Coffee</h3>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='BEVERAGES' && item.subCategory.name() == 'COFFEE'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>
<h3>Other</h3>
<div th:each="item : ${menuItems}">
    <div th:if="${item.mainCategory.name() =='BEVERAGES' && item.subCategory.name() == 'OTHER'}">
        <h4 th:text="${item.item_name}"></h4>
        <p th:text="${item.description}"></p>
        <p>$ <span th:text="${item.price}"></span></p>
        <hr>
    </div>
</div>







</body>
</html>