<!DOCTYPE html>
<html>
<head>
  <title>Radius Validation</title>
</head>

<body>
<h1>STEPS</h1>
<p>find the photo for uself</p>
<p>reduce the photo size - 200 x 200</p>
<p>IM SERIOUS - reduce the photo size as small as you can, otherwise the page will take years to load</p>
<p>inspect this page and open the console</p>
<p>click the upload button</p>
<p>select the photo and click upload</p>
<p>when it has uploaded, the url will be logged in the console</p>
<p>copy this url</p>
<p>paste it in the you profile photo url column in the database</p>
<p>photos are already linked in html, they just need to be updated in database</p>
<p></p>
<button id="upload">Upload Photo</button>

<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="../../static/js/apiKeys.js"></script>
<script>
  //filestack
  window.addEventListener('DOMContentLoaded', function () {
    let picker;

    const client = filestack.init(fileStackKey);

    const options = {
      accept: ["image/*"],
      onUploadDone: (res) => {
        const url = res.filesUploaded[0].url;
        console.log(url);
      },

    };


    document.getElementById("upload").addEventListener("click", function (e) {
      e.preventDefault();
      picker = client.picker(options);
      client.picker(options).open();
    });


  });


</script>
</body>
</html>