<!doctype html>
<html lang="en" xlms:th="http://www.thymeleaf.org" xmlns:xlms="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer">

    <footer>

        <ul class="foot-list">
            <li>
                <a href="/reviews">Review</a>
            </li>
            <li>
                <a href="/catering">Catering</a>
            </li>
            <li>
                <a href="/faqs">FAQs</a>
            </li>
            <li>
                <a href="/careers">Careers</a>
            </li>
            <li>
                <a href="/about-us">About Us</a>
            </li>
            <li>
                <a href="/developers">Developers</a>
            </li>
        </ul>

    </footer>

</div>

</body>
</html>
