<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/about_us.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class="about-us-container">
            <h1>ABOUT US</h1>

            <div class="about-us">
                    <img class="about-img" src="https://cdn.filestackcontent.com/EiLNX0IeR2HRosbdBAAp">
                    <p class="about-us-text">Welcome to Tacos Los Primos, where the authentic flavors of Mexico come together to create a fiesta for your taste buds. We take immense pride in serving the most delectable tacos and Mexican dishes, made with love and care. Our mission is to share the vibrant spirit of Mexico through our culinary delights and warm hospitality. Join us for an unforgettable dining experience filled with mouthwatering flavors and a festive ambiance that celebrates the essence of Mexico.</p>
            </div>

            <p class="our-title">OUR STORY</p>

            <div class="our-story">
                <p class="about-us-text">Tacos Los Primos is the dream of three cousins, Juan, Miguel, and Carlos, who grew up in Mexico surrounded by the rich flavors of their abuela's recipes. When they moved to the United States, they decided to share their passion for authentic Mexican cuisine with their community. With dedication and love, they opened Tacos Los Primos, where they serve up the taste of their cherished hometown and a celebration of family tradition in every dish.</p>
                <img class="about-img" src="https://cdn.filestackcontent.com/xZHxz7baQ6iyJlkO503W">
            </div>

            <p class="our-title">OUR TEAM</p>

            <div class="cards-layout">

                <div class="our-cards">
                    <div class="box-relative">
                        <img class="our-img" src="https://cdn.filestackcontent.com/VwlXVTHjSuWI31RgJLTu">
                        <div class="box">
                            <i></i>
                            <p class="our-name">Juan</p>
                            <p class="our-info">The heart of Tacos Los Primos, brings his culinary expertise and creativity to craft mouthwatering taco fillings that pay homage to their abuela's cherished recipes.</p>
                        </div>
                    </div>
                </div>
                <div class="our-cards">
                    <div class="box-relative">
                        <img class="our-img" src="https://cdn.filestackcontent.com/KKpnMb6kSIOCvMfIfKp5">
                        <div class="box">
                            <i></i>
                            <p class="our-name">Miguel</p>
                            <p class="our-info">With his warm smile and friendly demeanor, ensures that every guest at Tacos Los Primos feels like part of the family, creating a welcoming and festive atmosphere.</p>
                        </div>
                    </div>
                </div>
                <div class="our-cards">
                    <div class="box-relative">
                        <img class="our-img" src="https://cdn.filestackcontent.com/ViKGOuqQwiJoioOpANP0">
                        <div class="box">
                            <i></i>
                            <p class="our-name">Carlos</p>
                            <p class="our-info">The mastermind behind the restaurant's vibrant and lively ambiance, adds a touch of authentic Mexican culture with colorful decor and music from the heart of Mexico.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>
</body>
</html>