<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/careers.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class="white-container">
            <div class="centered-text">
                <h1>CAREERS</h1>
                <p class="careers-title">POSITIONS AT TACOS LOS PRIMOS</p>
                <p class="careers-par">If you're looking to build a career around achievement and firm values within a
                    company culture based on opportunity and respect, we invite you to explore career opportunities with
                    Tacos Los Primos.</p>
                <br>
                <p class="careers-par">We're always looking for exceptional people to join our team at our Support
                    Headquarters in Phoenix, Arizona. We keep a database of people who submit resumes for positions in
                    the following areas:</p>
                <br>
                <div class="careers">
                    <ul class="careers-list">
                        <li>Sales/Marketing</li>
                        <li>Operations</li>
                        <li>Training/Development</li>
                        <li>R&D/Distribution</li>
                        <li>Construction/Design</li>
                        <li>General Management</li>
                        <li>Legal</li>
                        <li>Restaurant Employment</li>
                    </ul>
                    <ul class="careers-list">
                        <li>HR</li>
                        <li>Finance</li>
                        <li>Information Technology</li>
                        <li>Public/Investor</li>
                        <li>Communications</li>
                        <li>Relations</li>
                        <li>General Office Support</li>
                    </ul>
                </div>
                <br>
                <p class="careers-par">If you would like to be considered when positions open in any of these
                    departments, please <a class="green" href="mailto:careers@tacoslosprimos.com">submit your resume</a>
                    and a cover letter detailing your expertise and the department you are interested in joining.</p>
                <br>
                <p class="careers-par">Tacos Los Primos is an equal opportunity employer which encourages diversification in the workplace.</p>
            </div>
        </div>

    </div>
    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>

</body>
</html>



