<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/careers.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class="white-container">
            <div class="centered-text">
                <h1>CAREERS</h1>
                <p>POSITIONS AT TACOS LOS PRIMOS</p>
                <p>If you're looking to build a career around achievement and firm values within a company culture based
                    on
                    opportunity and respect, we invite you to explore career opportunities with Tacos Los Primos.</p>
                <br>
                <p>We're always looking for exceptional people to join our team at our Support Headquarters in Phoenix,
                    Arizona.
                    We keep a database of people who submit resumes for positions in the following
                    areas:Sales/Marketing,Operations,Training/Development,R&D/Distribution,Construction/Design,General
                    Management,Legal,Restaurant Employment,HR,Finance,Information Technology,Public/Investor
                    Relations,Communications,and General Office Support.</p>
                <br>
                <p>If you would like to be considered when positions open in any of these departments, please <a
                        class="green">submit your resume</a> and a cover letter detailing your expertise and the
                    department
                    you are interested in joining.</p>
                <br>
                <p>Tacos Los Primos is an equal opportunity employer which encourages diversification in the
                    workplace.</p>
            </div>
        </div>

    </div>
    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>

</body>
</html>



