<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<body>
<div th:replace="partials/navbar :: navbar"/>

<div class="white-container">
    <div class="centered-text">
        <h1>FAQS</h1>
        <p><b>Q: What type of cuisine do you serve at your Mexican restaurant?</b>
            A: We specialize in authentic Mexican cuisine, offering a diverse menu with traditional dishes like tacos,
            enchiladas, tortas, and more.</p>
        <p><b>Q: Can I make a reservation in advance?</b>
            A: Absolutely! We encourage making reservations, especially during peak hours, to ensure you have a table
            waiting for you.</p>
        <p><b>Q: Are you kid-friendly?</b>
            A: Yes, we welcome families and have a kid's menu with tasty options that are sure to please our young
            guests.</p>
        <p><b>Q: Can you accommodate large groups or parties?</b>
            A: Of course! We can accommodate large groups for special events or celebrations. Please contact us in
            advance to make arrangements.</p>
        <p><b>Q: Do you offer catering services for events?</b>
            A: Yes, we provide catering services for various events, such as weddings, corporate gatherings, and private
            parties. Our catering menu offers a variety of options to suit your needs.</p>
        <p><b>Q: Can I place a takeout order?</b>
            A: Absolutely! We offer takeout services, and you can either call ahead or order online through our website.
        </p>
        <p><b>Q: What payment methods do you accept?</b>
            A: We accept cash, major credit cards, and mobile payment options for your convenience.</p>
        <p><b>Q: Are your salsas and guacamole made in-house?</b>
            A: Yes, all our salsas and guacamole are freshly made in-house with authentic Mexican ingredients for the
            best taste.
        </p>
        <p><b>Q: Is your restaurant accessible for individuals with disabilities?</b>
            A: Yes, our restaurant is fully accessible, and we strive to provide a comfortable dining experience for all
            our guests.</p>
    </div>
</div>

<div th:insert="partials/footer :: footer"/>
</body>
</html>