<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<body>
<div th:replace="partials/navbar :: navbar"/>
  
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="rounded-border p-3">
                <div class="profile-picture float-start"></div>
                <p>
                    The service was impeccable, and the staff was attentive without being intrusive. Our server, Sarah, was knowledgeable about the menu and provided excellent recommendations.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="rounded-border p-3">
                <div class="profile-picture float-end"></div>
                <p>
                    The menu offers an excellent selection of Mexican dishes, and each one is packed with authentic flavors.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="rounded-border p-3">
                <div class="profile-picture float-start"></div>
                <p>
                    The attentive service added to the overall experience. Our server, Marco, went above and beyond to ensure we had a fantastic time.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="rounded-border p-3">
                <div class="profile-picture float-end"></div>
                <p>
                    The service was outstanding. The staff was friendly and attentive, and they made excellent recommendations for our group.
                </p>
            </div>
        </div>
    </div>
</div>

<div th:insert="partials/footer :: footer"/>

</body>
</html>