<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/edit_profile.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class="edit-profile-page">
            <div sec:authorize="isAuthenticated()">
                <h4>Edit Your Profile</h4>
            </div>

            <p class="section-title">CONTACT INFORMATION</p>

            <form class="edit-form" id="editForm" th:action="@{/edit-profile}" th:method="post"
                  th:object="${userAddressWrapper}">
                <input type="hidden" name="userPhotoEdit" id="userPhotoEdit" th:field="*{user.photo_url}">
                <input type="hidden" name="addressID" id="addressID" th:field="*{addressUpdated.id}">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="upload-picture">
                            <div>
                                <img class="user-image" th:src="*{user.photo_url}" id="newPhotoTag">
                            </div>
                            <div class="">
                                <button class="button" type="button" id="updatePicture">Update Picture</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-8">
                        <h5 class="text-center">Contact Information</h5>
                        <div class="row">
                        <div class="mb-3 col-12 col-md-6">
                            <label for="userFirstName" class="form-label">First name</label>
                            <input type="text" name="userFirstName" class="form-control" id="userFirstName"
                                   th:field="*{user.first_name}" placeholder="New First Name">
                            <div id="firstNameFeedback"></div>
                        </div>

                        <div class="mb-3 col-12 col-md-6">
                            <label for="userLastName" class="form-label">Last name</label>
                            <input type="text" name="userLastName" class="form-control" id="userLastName"
                                   th:field="*{user.last_name}" placeholder="New Last Name">
                            <div id="lastNameFeedback"></div>
                        </div>
                        </div>

                        <div class="row ">
                        <div class="mb-3 col-12 col-md-6">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" class="form-control" id="username"
                                   th:field="*{user.username}" placeholder="New Username">
                            <div id="usernameFeedback"></div>
                        </div>


                        <div class="mb-3 col-12 col-md-6">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="text" name="phone" class="form-control" id="phone" th:field="*{user.phone}"
                                   placeholder="New phone number">
                            <div id="phoneFeedback"></div>
                        </div>
                        </div>

                        <div class="row">
                        <div class="mb-3 col">
                            <label for="userEmail" class="form-label">Email</label>
                            <input class="form-control" name="userEmail" id="userEmail" th:field="*{user.email}"
                                   placeholder="New email">
                            <div id="emailFeedback"></div>
                        </div>
                        </div>


                        <h5 class="text-center">Address</h5>
                        <div>

                            <div class="row">
                                <label for="streetAddress" class="form-label">Street</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="streetAddress"
                                           th:field="*{addressUpdated.street}">
                                    <div id="streetFeedback"></div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="buildingAddress" class="form-label">Apt, Suite, Unit, Building
                                    (Optional)</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="buildingAddress"
                                           th:field="*{addressUpdated.building}">
                                    <div id="buildingFeedback"></div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="cityAddress" class="form-label">City</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="cityAddress"
                                           th:field="*{addressUpdated.city}">
                                    <div id="cityFeedback"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label for="stateAddress" class="form-label">State</label>
                                    <div class="mb-2">
                                        <select class="form-control" id="stateAddress"
                                                th:field="*{addressUpdated.state}">
                                            <option value="">Select a state</option>
                                            <option th:each="state : ${allStates}" th:value="${state}"
                                                    th:text="${state}"
                                                    th:selected="${state == userAddressWrapper.addressUpdated.state}"></option>
                                        </select>
                                        <div id="stateFeedback"></div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <label for="zipCodeAddress" class="form-label">Zip Code</label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="zipCodeAddress"
                                               th:field="*{addressUpdated.zipCode}">
                                        <div id="zipCodeFeedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <div id="profileUpdateStatus" class="d-none">Your profile was updated successfully!</div>
            <div class="buttons-div">
                <button id="saveChanges" type="button" class="button">Save Changes</button>
            </div>


            <p class="section-title">CHANGE PASSWORD</p>

            <form th:action="@{/change-password}" th:method="post" id="passwordForm">
                <div class="row">
                    <div class="col my-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" name="newPassword" class="form-control" id="newPassword"
                               placeholder="New Password">
                        <div id="passwordFeedback"></div>
                    </div>
                    <div class="col my-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                               placeholder="Confirm Password">
                        <div id="confirmPasswordFeedback"></div>
                    </div>
                    <div class="col my-3">
                        <label for="password" class="form-label">Current Password</label>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Current Password">
                        <div id="currentPasswordFeedback"></div>
                    </div>
                </div>
            </form>
            <div id="passwordUpdateStatus" class="d-none">Your password was updated successfully!</div>

            <div class="buttons-div">
                <button id="savePassword" type="button" class="button">Change Password</button>
            </div>


            <p class="section-title">SAVED ADDRESSES</p>

            <button id="addAddressBtn" class="blankBtn mt-1" data-bs-toggle="modal" data-bs-target="#addressModal">+ Add
                New
            </button>

            <div class="address-section">
                <div class="row">

                    <!--for each address-->
                    <div class="col-4" th:each="address : ${savedAddresses}">
                        <div class="saved-address-div">
                            <p class="saved-address" th:text="${address.oneLiner()}"></p>
                            <div class="links-div">
                                <a id="setPrimary" class="address-links"
                                   th:href="${'/updatePrimaryAddress?newAddress=' + address.getId()}">Set as Primary</a>
                                <a id="delete" class="address-links"
                                   th:href="${'/deleteAddress?addressId=' + address.getId()}">Delete</a>
                            </div>
                        </div>
                    </div>
                    <!--for each end-->

                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">New Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="edit-form" id="newAddressForm" th:action="@{/saveNewAddress}" th:method="post"
                          th:object="${addressUpdated}">
                        <div>
                            <div class="row">
                                <label for="streetAddressModal" class="form-label">Street</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="streetAddressModal"
                                           th:field="*{street}">
                                    <div id="streetFeedbackModal"></div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="buildingAddressModal" class="form-label">Apt, Suite, Unit, Building
                                    (Optional)</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="buildingAddressModal"
                                           th:field="*{building}">
                                    <div id="buildingFeedbackModal"></div>
                                </div>
                            </div>

                            <div class="row">
                                <label for="cityAddressModal" class="form-label">City</label>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="cityAddressModal" th:field="*{city}">
                                    <div id="cityFeedbackModal"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <label for="stateAddressModal" class="form-label">State</label>
                                    <div class="mb-2">
                                        <select class="form-control" id="stateAddressModal" th:field="*{state}">
                                            <option value="">Select a state</option>
                                            <option th:each="state : ${allStates}" th:value="${state}"
                                                    th:text="${state}"></option>
                                        </select>
                                        <div id="stateFeedbackModal"></div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <label for="zipCodeAddressModal" class="form-label">Zip Code</label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" id="zipCodeAddressModal"
                                               th:field="*{zipCode}">
                                        <div id="zipCodeFeedbackModal"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="button" id="saveNewAddressForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>
<script src="/js/apiKeys.js"></script>
<script src="https://static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    let usernameTaken = /*[[${usernameTaken}]]*/ 'default';
    let emailTaken = /*[[${emailTaken}]]*/ "default";
    let incorrectPassword = /*[[${incorrectPassword}]]*/ "default";
    let profileUpdated = /*[[${profileUpdated}]]*/ "default";
    let passwordUpdated = /*[[${passwordUpdated}]]*/ "default";
</script>
<script src="/js/editProfile.js"></script>
</body>
</html>