<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/login_register.css}">
<body>
<div th:replace="partials/navbar :: navbar"/>

<div class=" container-fluid login-form">
    <h4>LOGIN</h4>
    <form>
    <div class="mb-3 row form-custom">
        <label for="userEmail" class="form-label">Email</label>
        <div class="">
            <input type="text" class="form-control" id="userEmail" placeholder="email@example.com">
        </div>
    </div>
    <div class="mb-3 row form-custom">
        <label for="userPassword" class="form-label">Password</label>
        <div>
            <input type="password" class="form-control" id="userPassword">
        </div>
    </div>
    <div class="buttons-div">
        <button type="submit" class="button">Submit</button>
        <a class="button" href="/register">Register</a>
    </div>
    <div class="mb-3">
        <input type="checkbox" id="rememberMe">
        <label class="form-check-label remember-me" for="rememberMe">Remember me</label>
    </div>
    <div class="mb-3">
        <p><a class="forgot-password-link" href="/forgot-password">Forgot Password</a></p>
    </div>
    </form>
</div>

<div th:insert="partials/footer :: footer"/>
</body>
</html>