<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/profile.css}">
<body>
<div th:replace="partials/navbar :: navbar"/>

<div class="profile" sec:authorize="isAuthenticated()">
    <h4>USER PROFILE</h4>

    <div class="profile-layout">
        <div class="side-bar">
            <div class="user-img-card">
                <img class="user-image" src="img/placeholder.png">
                <p th:text="${user.username}"></p>
            </div>
            <div class="user-nav">
                <ul class="user-links-list">
                    <li class="user-link-active"><a>Profile</a></li>
                    <li class="user-link"><a>Rewards</a></li>
                    <li class="user-link"><a>Track Current Order</a></li>
                    <li class="user-link"><a>Previous Orders</a></li>
                    <li class="user-link"><a>Settings</a></li>
                    <li class="user-link"><a>Logout</a></li>
                </ul>
            </div>
        </div>

        <div class="user-info">
            <div class="profile-section">
                <p class="sub-title">CONTACT INFORMATION</p>
                <div class="section-content">
                    <div class="user-contact-section">
                        <div>
                            <p class="contact-info-title">First Name</p>
                            <p class="contact-info-text" th:text="${user.first_name}"></p>
                        </div>
                        <div>
                            <p class="contact-info-title">Last Name</p>
                            <p class="contact-info-text" th:text="*{user.last_name}"></p>
                        </div>
                        <div>
                            <p class="contact-info-title">Email</p>
                            <p class="contact-info-text" th:text="${user.email}">
                        </div>
                        <div>
                            <p class="contact-info-title">Phone</p>
                            <p class="contact-info-text" th:text="${user.phone}">
                        </div>
                        <div>
                            <p class="contact-info-title">Primary Address</p>
                            <p class="contact-info-text" th:text="${user.primary_address}"></p>
                        </div>
                    </div>
                    <div class="edit-button">
                        <a class="button" th:href="@{|/edit-profile|}">Edit Contact Information</a>
                    </div>
                </div>
                <div class="profile-section">
                    <p class="sub-title">REWARDS</p>
                    <div class="section-content">
                        <div class="rewards-section">
                            <div class="user-rewards">
                                <p class="rewards-title">REWARDS BALANCE</p>
                                <p class="rewards-text" th:text="${user.accumulated_points}"></p>
                            </div>
                            <div class="user-rewards">
                                <p class="rewards-title">REDEEMED POINTS</p>
                                <p class="rewards-text" th:text="${user.redeemed_points}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <p class="sub-title">CURRENT ORDER STATUS</p>
                    <div class="section-content">
                        <div class="current-order-status">
                            <p class="order-number">Order Number: 1234567890</p>
                            <p class="order-status">Your Order is on its way</p>
                            <p class="order-delivery-time">Estimated delivery time: 5:00PM</p>
                        </div>
                    </div>
                </div>
                <div class="profile-section">
                    <p class="sub-title">PREVIOUS ORDERS</p>
                    <div class="section-content">
                        <div class="previous-orders-section">

                            <!--for each-->
                            <div>
                                <div>
                                    <div class="menu-item">
                                        <div class="menu-item-info">
                                            <p class="menu-item-title"><span>Lorem Ipsum is simply</span> -
                                                $<span>10.50</span></p>
                                            <p class="menu-item-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <div class="menu-item-buttons">
                                                <p><a class="menu-item-add-to-bag" href="/view-bag">Add to Bag</a></p>
                                            </div>
                                        </div>
                                        <div class="img-div">
                                            <img class="menu-item-image" src="/img/placeholder.png">
                                        </div>
                                    </div>
                                </div> <!-- end if statement -->
                            </div> <!-- end for each -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="partials/footer :: footer"/>
</body>
</html>