<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="partials/header :: head"/>
<body>
<div th:replace="partials/navbar :: navbar"/>

<div sec:authorize="isAuthenticated()">
    <h1> Where to view your profile </h1>
<h1>Welcome, <span th:text="${user.first_name}"></span></h1>
    User ID: <span th:text="${#authentication.principal.id}"/>
    Username: <span th:text="${#authentication.principal.username}"/>
    Email: <span th:text="${#authentication.principal.email}"/>
    Phone number: <span th:text="${#authentication.principal.phone}"/>
    Primary Address: <span th:text="${#authentication.principal.primary_address}"/>
</div>


<div th:insert="partials/footer :: footer"/>
</body>
</html>