<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/login_register.css}">
<body>
<div class="page-container">
    <div th:replace="partials/navbar :: navbar"/>
    <div class="content-wrap">

        <div class=" container-fluid register-form">
            <h4>REGISTER</h4>
            <form th:action="@{/register}" method="POST" th:object="${user}" id="registerForm">
                <div class="row">
                    <div class="col-4 upload-pic-col">
                        <div class="upload-picture">
                            <div>
                                <img class="user-image" src="img/placeholder.png">
                            </div>
                            <div class="">
                                <button class="button" type="button" id="uploadPicture">Upload Picture</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3 form-custom">
                            <label for="userFirstName" class="form-label">First Name*</label>
                            <div class="">
                                <input type="text" class="form-control" id="userFirstName" th:field="*{first_name}">
                                <div id="firstNameFeedback"></div>
                            </div>
                        </div>
                        <div class="mb-3 form-custom">
                            <label for="username" class="form-label">Username*</label>
                            <div class="">
                                <input type="text" class="form-control" id="username" th:field="*{username}">
                                <div id="usernameFeedback"></div>
                            </div>
                        </div>
                        <div class="mb-3 form-custom">
                            <label for="userPassword" class="form-label">Password*</label>
                            <div>
                                <input type="password" class="form-control" id="userPassword" th:field="*{password}">
                                <div id="passwordFeedback"></div>
                            </div>
                        </div>

                        <div class="mb-3 form-custom">
                            <label for="phone" class="form-label">Phone</label>
                            <div class="">
                                <input type="text" class="form-control" id="phone" th:field="*{phone}">
                                <div id="phoneFeedback"></div>
                            </div>
                        </div>


                    </div>
                    <div class="col-4">
                        <div class="mb-3 form-custom">
                            <label for="userLastName" class="form-label">Last Name*</label>
                            <div class="">
                                <input type="text" class="form-control" id="userLastName" th:field="*{last_name}">
                                <div id="lastNameFeedback"></div>
                            </div>
                        </div>
                        <div class="mb-3 form-custom">
                            <label for="userEmail" class="form-label">Email*</label>
                            <div class="">
                                <input type="text" class="form-control" id="userEmail" th:field="*{email}">
                                <div id="emailFeedback"></div>
                            </div>
                        </div>
                        <div class="mb-3 form-custom">
                            <label for="confirmUserPassword" class="form-label">Confirm Password*</label>
                            <div>
                                <input type="password" class="form-control" id="confirmUserPassword">
                                <div id="confirmPasswordFeedback"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="userAddress" class="form-label">Primary Address</label>
                            <textarea class="form-control" id="userAddress" rows="3"
                                      th:field="*{primary_address}"></textarea>
                            <div id="addressFeedback"></div>
                        </div>

                    </div>
                </div>
                <div class="buttons-div">
                    <button type="submit" id="createAccount" class="button">Create Account</button>
                </div>
            </form>
        </div>

    </div>
    <div class="foot-div">
        <div th:insert="partials/footer :: footer"/>
    </div>
</div>

<script th:inline="javascript">
    let usernameTaken = /*[[${usernameTaken}]]*/ 'default';
    let emailTaken = /*[[${emailTaken}]]*/ "default";
</script>
<script src="/js/register.js"></script>
</body>
</html>

