h1 {
    color: #BF2D1A;
    text-align: center;
}
p {
    text-decoration: none;
    font-weight: bold;
}
.green {
    color: #5FBB46;
}
body {
    background-image: url('../img/ricepaper.png');
}
.white-container {
    background-color: #FFFFFF;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    height: 800px;
    font-size: 14px;
}