.careers-par {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.careers {
    display: flex;
    justify-content: space-evenly;
}

.careers-list {
    font-size: 14px;
}

.careers-title {
   font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.green {
    color: #5FBB46;
}

.white-container {
    background-color: #FFFFFF;
    max-width: 900px;
    margin: -120px auto 0;
    padding: 120px 100px 200px;
}