ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #BF2D1A;
}

.cart-container {
    margin: -120px auto 0;
    padding-top: 124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 960px;
    background-color: #FFFFFF;


}

.col-titles {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
}


.bag-title {
    display: block;
    color: #BF2D1A;
    text-align: center;
}

.bag-title-name {
    display: block;
    color: #BF2D1A;
}

.bag-item{
    text-align: center;
}

.bag-item-image {
    width: 50px;
    border-radius: 10px;
}

.bag-total-div {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}

.total-title {
    color: #BF2D1A;
    margin-right: 30px;
}

.place-order-buttons {
    display: flex;
    justify-content: center;
}

.order-price {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
}

.dollar-amount {
    text-align: end;
    color: #BF2D1A;
    padding: 10px 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: #FFFFFF;
    background-color: #BF2D1A;
    border: #BF2D1A;
    border-radius: 50px;
    height: 36px;
    width: 200px;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.button:hover {
    color: #FFFFFF;
}

.tab-pane {
    background-color: rgba(191, 45, 26, 8%);
    padding: 30px;
}