*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #BF2D1A;
}

/*.col-titles {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 3fr 1fr 1fr;*/
/*    grid-column-gap: 10px;*/
/*    grid-row-gap: 10px;*/
/*    align-items: center;*/
/*}*/


.bag-title {
    display: block;
    color: #BF2D1A;
    text-align: center;
    text-wrap: none;
    height: 50px;
}

.bag-title-name {
    display: block;
    color: #BF2D1A;
    height: 50px;
}

.bag-item, .bag-item-qty, .bag-item-delete  {
    text-align: center;
    height: 70px;
}

.bag-item-image {
    width: 50px;
    border-radius: 10px;
}

.bag-total-div {
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}

.total-title {
    color: #BF2D1A;
    margin-right: 30px;
    height: 50px;
}

.place-order-buttons {
    display: flex;
    justify-content: center;
}

.order-price {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
}

.dollar-amount {
    text-align: end;
    color: #BF2D1A;
    padding: 10px 0;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: #FFFFFF;
    background-color: #BF2D1A;
    border: #BF2D1A;
    border-radius: 50px;
    height: 36px;
    width: 200px;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.button:hover {
    color: #FFFFFF;
}

.tab-pane {
    background-color: rgba(191, 45, 26, 8%);
    padding: 30px;
}

.nav .active {
    background-color: #BF2D1A !important;
    color: #FFFFFF !important;
}

.nav .nav-link {
    color: #666666;
}


/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 10rem 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: 1;
}

.progress {
    background-color: #BF2D1A;
    width: 0;
    transition: 0.3s;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    position: relative;
    z-index: 2;
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
    width: 200px;
    text-align: center;
}

.progress-step-active {
    background-color: #BF2D1A;
    color: #FFFFFF;
}

/* Form */
.checkout-container {
    width: clamp(920px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    background-color: #FFFFFF;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}