.foot-div {
    z-index: 3;
}

.developers-heading {
    color: #BF2D1A;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    margin: 20px auto 40px;
}

.developers-page {
    z-index: 1;
    position: relative;
    width: 100vw;
    padding: 135px 0 192px;
}

.developers-content {
    position: relative;
    z-index: 10;
}

.cards-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.our-cards {
    width: 350px;
    margin: 70px 70px 20px 20px;
}

.our-name {
    color: #BF2D1A;
    padding-top: 130px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.our-info {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
}

.our-links {
    height: 35px;
    fill: #FFBF2C;
    margin: 10px;
    z-index: 10;
}

.box-relative {
    position: relative;
    width: 350px;
}

.our-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #BF2D1A solid 4px;
    position: absolute;
    top: -70px;
    right: -50px;
}

div.box {
    --s:350px;  /*Size of the circle */
    --p:15px;  /* padding */

    height: var(--s);
    width:  var(--s);
    border-radius: 50%;
    border: #BF2D1A solid 4px;
    background-color: #FFFFFF;
}
.box i,
.box::before {
    content: '';
    float: left;
    height:100%;
    width: 50%;
    shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}
.box i {
    float: right;
    shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}

@media screen and (max-width: 850px) {
    .cards-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

/*background animation*/
@keyframes animate {
    0% {
        opacity: 1;
        transform: translateY(100%) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translateY(-3000px) rotate(720deg);
    }
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.circles svg {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    bottom: 50px;
    color: rgba(95, 187, 70, 50%);
    animation: animate 19s linear infinite;
}

.circles svg:nth-child(1) {
    left: 5%;
    animation-delay: 1s;
}

.circles svg:nth-child(2) {
    left: 10%;
    animation-delay: 6s;
}

.circles svg:nth-child(3) {
    left: 15%;
    animation-delay: 8s;
}

.circles svg:nth-child(4) {
    left: 20%;
    animation-delay: 13s;
}

.circles svg:nth-child(5) {
    left: 25%;
    animation-delay: 3s;
}

.circles svg:nth-child(6) {
    left: 30%;
    animation-delay: 17s;
}

.circles svg:nth-child(7) {
    left: 35%;
    animation-delay: 11s;
}

.circles svg:nth-child(8) {
    left: 40%;
    animation-delay: 15s;
}

.circles svg:nth-child(9) {
    left: 45%;
    animation-delay: 7s;
}

.circles svg:nth-child(10) {
    left: 50%;
    animation-delay: 18s;
}

.circles svg:nth-child(11) {
    left: 55%;
    animation-delay: 2s;
}

.circles svg:nth-child(12) {
    left: 60%;
    animation-delay: 0s;
}

.circles svg:nth-child(13) {
    left: 65%;
    animation-delay: 10s;
}

.circles svg:nth-child(14) {
    left: 70%;
    animation-delay: 4s;
}

.circles svg:nth-child(15) {
    left: 75%;
    animation-delay: 12s;
}

.circles svg:nth-child(16) {
    left: 80%;
    animation-delay: 16s;
}

.circles svg:nth-child(17) {
    left: 85%;
    animation-delay: 14s;
}

.circles svg:nth-child(18) {
    left: 90%;
    animation-delay: 9s;
}

.circles svg:nth-child(19) {
    left: 95%;
    animation-delay: 5s;
}
