.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 192px;
}

.foot-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 192px;
}

.edit-profile-page {
    max-width: 920px;
    background-color: #FFFFFF;
    margin: -124px auto 0;
    padding: 124px 20px 192px;
}

.edit-form {
    padding: 30px;
}

.blankBtn {
    background-color: transparent;
    border: none;
    font-weight: bold;
    /*color: #BF2D1A;*/
}

.buttons-div {
    display: flex;
    justify-content: center;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: #FFFFFF;
    background-color: #BF2D1A;
    border: #BF2D1A;
    border-radius: 50px;
    height: 36px;
    width: 180px;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-links {
    color: #BF2D1A;
    font-size: 14px;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

a.button:hover {
    color: #FFFFFF;
}

.upload-pic-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(191, 45, 26, 8%);
    border-radius: 50px;
    padding: 20px;
}

.user-image {
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid #BF2D1A 5px;
    height: 130px;
    width: 130px;
}

.section-title {
    color: #BF2D1A;
    display: block;
    border-bottom: #BF2D1A solid 2px;
    text-align: start;
    margin: 20px 0 0;
}

.saved-address-div {
    border: #BF2D1A solid 3px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(191, 45, 26, 8%);
}

.links-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.address-links {
    color: #BF2D1A;
    font-size: 14px;
}

a:hover {
    color: #5FBB46;
}

.form-label {
    font-size: 14px;
}

#profileUpdateStatus, #passwordUpdateStatus {
    color: #5FBB46;
    text-align: center;
}