h1 {
    color: #BF2D1A;
    text-align: center;
}
body {
    background-image: url('../img/ricepaper.png');
}
.white-container {
    background-color: #FFFFFF;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    height: 800px;
    font-size: 14px;
}

.answers {
    font-weight: normal;
    margin-bottom: 1em;
}

h6 {
    font-weight: bold;
}