
.white-container {
    background-color: #FFFFFF;
    max-width: 900px;
    margin: -100px auto 0;
    padding: 70px 100px 60px;
    font-size: 14px;
}

.answers {
    font-weight: normal;
    margin-bottom: 1em;
}

h6 {
    font-weight: bold;
}