.carousel-custom {
    margin: 30px;
}

.carousel-img {
    height: 400px;
    width: 75vw;
}

.buttons-div {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    color: #FFFFFF;
    background-color: #BF2D1A;
    border: #BF2D1A;
    border-radius: 50px;
    height: 50px;
    width: 250px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.button:hover {
    color: #FFFFFF;
}

.contact-us-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: #FFFFFF;
    background-color: #BF2D1A;
    border: #BF2D1A;
    border-radius: 50px;
    height: 36px;
    width: 180px;
    margin: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popular-dishes-cards {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.dishes-card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.visit-us {
    display: flex;
    margin: 30px 30px 10px;
    justify-content: center;
}

.contact-us {
    width: 50%;
    padding: 0 30px 30px;
}

.special-requests {
    width: 50%;
    padding: 0 30px 30px;
}

.google-link {
    color: #5FBB46;
    text-decoration: none;
}

.sub-title-text {
    color: #BF2D1A;
    margin-top: 10px;
}

.info-text {
    font-weight: normal;
}