* {
    margin: 0;
    padding: 0;
}

.socials-bar {
    margin-bottom: -16px;
    padding: 0;
    background-color: white;
    background-image: url("../img/ricepaper.png");
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.socials-list {
    list-style-type: none;
    display: flex;
}

.navbar-custom {
    background-color: #BF2D1A;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-custom-text {
    color: #FFFFFF;
}

.nav-icon-bag {
    height: 20px;
    fill: #FFFFFF;
    padding-bottom: 5px;
}

.nav-social-icons {
    height: 20px;
    fill: #FFBF2C;
}

@media screen and (min-width: 576px) {
    .nav-logo {
        height: 125px;
        margin-top: -62px;
        margin-bottom: -62px;
    }

    .div-flex {
        display: flex;
    }
}

@media screen and (max-width: 575px) {
    .nav-logo {
        height: 100px;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    .nav-custom-text {
        display: flex;
        justify-content: center;
    }

    .collapse-custom {
        display: flex;
        flex-direction: column;
    }

}

