.rounded-border {
    border-radius: 20px;
    border: 3px solid #BF2D1A;
    background-color: rgba(255, 255, 255, 0.8);
}
body {
    background-image: url('../img/ricepaper.png');
}
.profile-picture {
    background-color: darkgray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-regular.fa-user {
    font-size: 30px;
}
.stars-and-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.star-icon {
    color: gold;
    font-size: 15px;
}

.review-text {
    text-align: justify;
}
.container {
    margin-bottom: 40px;
}

/*.review-container {*/
/*    min-height: 200px;*/
/*}*/


.button {
    padding: 10px 15px 5px 15px;
    color: #FFFFFF;
    background-color: #BF2D1A;
    border: #BF2D1A;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-button {
    font-size: 16px !important;
}

.add-review {
    padding: 10px 25px 5px 25px !important;
}

