<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      lang="eng">
<head th:insert="partials/header :: head"/>
<link rel="stylesheet" th:href="@{/css/menu.css}">
<body>
<div th:replace="partials/navbar :: navbar"/>

<div class="container-fluid menu-header">
    <h4>OUR MENU</h4>
</div>

<div class="menu-categories">
    <p><a>APPETIZERS</a></p>
    <p><a>ENTREES</a></p>
    <p><a>SIDES</a></p>
    <p><a>SALSAS</a></p>
    <p><a>BEVERAGES</a></p>
</div>

<div class="container-fluid">
    <div class="menu">
<!---------------------for each menu item--------------------------->
        <div class="menu-item">
            <div class="menu-item-info">
                <p class="menu-item-title">Lorem Ipsum is simply - $10.50</p>
                <p class="menu-item-description">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's</p>
                <div class="menu-item-buttons">
                    <p><a class="menu-item-view-more" href="/view-more">View More</a></p>
                    <p><a class="menu-item-add-to-bag" href="/view-bag">Add to Bag</a></p>
                </div>
            </div>
            <div>
                <img class="menu-item-image" src="/img/placeholder.png">
            </div>
        </div>
<!------------------------------------------------------------------>

    </div>
</div>



<div th:insert="partials/footer :: footer"/>
</body>
</html>